.cell {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(180, 180, 180, 0.652);
  cursor: pointer;
}

.cell:hover {
  background-color: rgb(195, 190, 255);
}

.cell:active {
  background-color: rgb(171, 164, 253);
}

.start-stop {
  background-color: rgb(13, 191, 0);
}

.disabled {
  background-color: rgb(151, 151, 151);
}

.route {
  background-color: rgba(13, 191, 0, 0.454);
}
