.cell {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(138, 138, 138, 0.652);
  cursor: pointer;
}

.cell:hover {
  background-color: rgb(195, 190, 255);
}

.cell:active{
  background-color: rgb(171, 164, 253);
}